<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqXTHD5Xq7GdtroNKYFXtk849azYJt4uY</string>
	<key>GCM_SENDER_ID</key>
	<string>966815768056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.izhgo.delivery</string>
	<key>PROJECT_ID</key>
	<string>ijgo-6492a</string>
	<key>STORAGE_BUCKET</key>
	<string>ijgo-6492a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966815768056:ios:7864e12d2913e2573e8a0d</string>
</dict>
</plist>